body,html{
	font-size: 16px;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.clearfix::after {
	display: block;
	clear: both;
	content: "";
}
.mb-20{  margin-bottom: 20px;  }
.mb-40{  margin-bottom: 40px;  }
article{
	width: 100%;
}
.fade.show{
	opacity: 1;
}
.main{
	display: block;
}
.lt-20{
	margin-left: -20px;
	margin-top: -20px;
}
.ab_lt-10{
	position: absolute !important;
	left:-10px;
	top:-10px;
}
.ab_rt-plus-10{
	position: absolute !important;
	right:10px;
	top:10px;
}
.rb-20{
	margin-right: -20px;
	margin-bottom: -20px;
}
.ab_rb-10{
	position: absolute !important;
	right:-10px;
	bottom:-10px;
}
.ab_r-0_t-15{
	position: absolute !important;
	right:0;
	top:-15px;
}
.ab-b-0{
	position: absolute !important;
	bottom: 0;
}
.lb-20{
	margin-left: -20px;
	margin-bottom: -20px;
}
.ab-b-0,
.ab_lt-10,
.ab_rt-plus-10,
.ab_rb-10,
.ab_r-0_t-15 {
	@media (max-width: $screen-xs-max){
		position: 		relative !important;
		left: 				auto !important;
		right: 				auto !important;
		top: 					auto !important;
		bottom: 			auto !important;
	}
}
.panel-img-overlay{
	&.ov-primary{  			background-color: rgba($primary, .7) !important;}
	&.ov-success{  			background-color: rgba($success, .7) !important;}
	&.ov-danger{  			background-color: rgba($danger, .7) !important;}
	&.ov-warning{  			background-color: rgba($warning, .7) !important;}
	&.ov-pink{  				background-color: rgba($pink, .7) !important;}
	&.ov-pink-dark{  		background-color: rgba($pink-dark, .7) !important;}
	&.ov-secondary{  		background-color: rgba($secondary, .7) !important;}
	&.ov-info{  				background-color: rgba($info, .7) !important;}
	&.ov-teal{  				background-color: rgba($teal, .7) !important;}
}

.w-10{		width: 10%;}
.w-20{		width: 20%;}
.w-30{		width: 30%;}
.w-40{		width: 40%;}
.w-50{		width: 50%;}
.w-60{		width: 60%;}
.w-70{		width: 70%;}
.w-80{		width: 80%;}
.w-90{		width: 90%;}
.w-100{		width: 100%;}

.d-none {  					display: none !important;  }
.d-inline {  				display: inline !important;  }
.d-inline-block {  	display: inline-block !important;  }
.d-block {  				display: block !important;  }
.d-table {  				display: table !important;  }
.d-table-row {  		display: table-row !important;  }
.d-table-cell {  		display: table-cell !important;  }
.d-flex {  					display: flex !important;  }
.d-inline-flex {  	display: inline-flex !important;  }

.float-left {  			float: left !important;  }
.float-right {  		float: right !important;  }
.float-none {  			float: none !important;}

#wrapper {
	padding-left: 0;
	background: #eee;
	height: 100%;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	//padding-left: 250px;
}

#sidebar-wrapper {
	position: fixed;
	left: 260px;
	z-index: 1040;
	overflow-y: auto;
	margin-left: -260px;
	width: 0;
	height: 100%;
	-webkit-transition: all 0.5s cubic-bezier(.645,.045,.355,1);
	-moz-transition: all 0.5s cubic-bezier(.645,.045,.355,1);
	-o-transition: all 0.5s cubic-bezier(.645,.045,.355,1);
	transition: all 0.5s cubic-bezier(.645,.045,.355,1);
	background-color: #fff;
	top: 0;
	color: #212229;
	overflow-y: auto;
	overflow-x: hidden;
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	border-right: 1px solid $secondary;
}

#wrapper.toggled #sidebar-wrapper {
	width: 260px;
}

#page-content-wrapper {
	padding: 15px;
	width: 100%;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -260px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 260px;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	a{
		display: block;
		color: #212229;
		text-transform: uppercase;
		font-family: "UWMontserrat",sans-serif;
		padding: 12px 0;
		text-decoration: none;
		font-size: 12px;
		transition: color .2s cubic-bezier(.645,.045,.355,1);
		-webkit-backface-visibility: hidden;
		.fa{
			margin-right: 15px;
		}
		&:hover{
			cursor: pointer;
			text-decoration: none;
			color: $primary;
		}
	}
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

#overlay {
	position: fixed;
	z-index: 1035;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: rgba(0,0,0,.5);
}
@media (min-width: 768px) {
	#wrapper {
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 260px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 100px 20px 20px;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}