.panel-list{
	display: block;
	width: 100%;
	overflow: hidden;
	@media (max-width: $screen-sm-max){
		h1,
		h2,
		h3,
		h4,
		h5{
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 1rem;
		}
		.panel-title{
			text-align: center;
			width: 100%;
		}
	}
}
.panel{
	border-radius: 5px;
	border: 0;
	background-color: $white;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: left;
	a {
		text-decoration: none;
		> img{
			width: 100%;
		}
	}
	.panel-icons{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 5px;
		a{
			color: #000000;

		}
		&-item{
			font-weight: bold;
		}
	}
	&-header{
		border-bottom: 0;
	}
	&-body{
		display: block;
		padding: 0 15px 15!important;
		img{
			display: block;
			min-height: 130px;
			max-height: 200px;
			margin: 0 auto;
		}
	}
	&-header,
	&-body,
	&-footer{
		border: 0;
		background: transparent;
		padding: .75rem;
	}
	.btn{
		color: $white;
		text-transform: capitalize;
		height: 40px;
		text-align: center;
	}
	&-img-overlay{
		display: block;
	}
	&-img-top{
		width: 100%;
	}
	&-primary{
		@include bottom-border ($primary);
	}
	&-success{
		@include bottom-border ($success);
	}
	&-pink{
		@include bottom-border ($pink);
	}
	&-danger{
		@include bottom-border ($danger);
	}
	&-warning{
		@include bottom-border ($warning);
	}

	.product-photo{

	}
}