.category-filter{
	.container{
		width: 100%;
		max-width: 100%;
	}
	.navbar-nav{
		margin: 0 auto;
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: center;
		.dropdown-menu {
			left: 50%;
			width: 230px;
			background: $white;
			transform: translateX(-50%);
			padding: 0px;
			&__wrap {
				position: relative;
				padding: 30px 20px;
				display: block;
				width: 100%;
				&:before {
					position: absolute;
					font-family: "FontAwesome", sans-serif;
					content: '\f0d8';
					left: 50%;
					color: #fff;
					transform: translateX(-50%);
					pointer-events: none;
					top: -12px;
				}
			}
			.close {
				position: absolute;
				right: 5px;
				top: 0;
				color: #000;
				font-weight: 300;
				opacity: 1;
			}
			.form-group {
				&-select {
					position: relative;
					&:after {
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
						content: '\f107';
						font-family: "FontAwesome", sans-serif;
						pointer-events: none;
					}
				}
			}
			select.form-control {
				position: relative;
				padding: 15px 35px 15px 25px;
				border-radius: 0;
				color: inherit;
				height: auto;
				box-sizing: border-box;
				width: 100%;
				background-color: #f5f5f5;
				border: 1px solid #ebebeb;
				box-shadow: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance: none;
				text-overflow: '';
			}
			.form-control {
				position: relative;
				padding: 15px 35px 15px 25px;
				border-radius: 0;
				color: inherit;
				height: auto;
				box-sizing: border-box;
				width: 100%;
				background-color: #f5f5f5;
				border: 1px solid #ebebeb;
				box-shadow: none;
			}
			.price-input {
				position: relative;
				&:after {
					position: absolute;
					left: 12px;
					top: 50%;
					transform: translateY(-50%);
					content: '\20AC';
					pointer-events: none;
				}
			}
			input {
				&::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
					color: inherit;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: inherit;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: inherit;
				}
				&:-moz-placeholder{
					color: inherit;
				}
			}
		}
	}
	.dropdown-toggle{
		cursor: pointer;
		padding: 0 15px;
		line-height: 40px;
		text-align: left;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		color: #000000;
		position: relative;
		float: left;
		&:before{
			font-family: "FontAwesome",sans-serif;
			content: '\f107';
			width: 10px;
			margin-left: 3px;
			text-align: center;
			display: inline-block;
			float: right;
			transform: rotate(0deg);
			transition: all .3s ease;
			-webkit-backface-visibility: hidden;
		}
	}
	li.open > .dropdown-toggle:before{
		transform: rotate(180deg);
	}

}
#category{
	@media (max-width: $screen-md-max){
		//display: block;
		position: fixed;
		width: 280px;
		bottom: 0;
		right: 15px;
		top: -1px;
		padding-top: 0;
		background-color: #fff;
		cursor: default;
		color: #212229;
		max-width: 500px!important;
		z-index: 200;
		height: 100%	;
		padding: 0;
		max-height: inherit;
		&:before{
			content: "";
			position: fixed;
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}
		.container{
			padding: 0;
			display: block;
			height: 100vh;
			background: $white;
		}
		.navbar-nav{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			height: 100%;
			li{
				float: none;
				width: 100%;
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid transparent;
				height: 50px;
				.dropdown-toggle{
					width: 100%;
				}
				.dropdown-menu{
					position: inherit;
					width: 100%;
					box-shadow: none;
					border: 0;
					.checkbox{
						margin-top: 0;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
				&.open{
					border-bottom: 1px solid #eee;
					height: auto;
					min-height: 50px;
				}
				> a{
					text-transform: capitalize;
					font-size: 14px;
					height: 50px;
					line-height: 50px;

				}
				&.open > a,
				&.open > a:hover,
				&.open > a:focus{
					background: $white;
					border-bottom: 1px solid #eee;
				}
				label:not(.toggle) {
					> .label-text{
						margin-bottom: 1em;
						margin-right: 1em;
						cursor: pointer;
						padding: 10px 20px;
						display: inline-block;
						border: 1px solid #212229;
						text-decoration: none;
						background-color: transparent;
						color: #212229;
						transition: all .5s cubic-bezier(.645,.045,.355,1);
						-webkit-backface-visibility: hidden;
						font-family: "UWRoboto",sans-serif;
						text-transform: none;
						&:before{
							display: none;
						}
					}
					input[type="radio"]:checked+.label-text:before{
						display: none;
					}
					input[type="radio"]:checked+.label-text{
						color: $white;
						background: #212229 ;
						border: 1px solid  #212229;
					}
				}

			}
			li.reset-filters-box{
				order: -20;
				height: 53px;
				justify-content: center;
				border-bottom: 1px solid #eee;
				.reset-filters{
					height: 100%;
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-between;
					align-items: center;
					text-transform: capitalize;
					font-size: 14px;
					.fa{
						color: $teal;
					}
				}
			}
			li.category-box{  order: 4;  }
			li.size-box{  order: 1;  }
			li.shoe-size-box{  order: 2;  }
			li.price-box{
				order: 3;
				.dropdown-menu__wrap{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					padding: 1rem 1.5rem;
				}
				.form-group{
					margin-bottom: 0;
					margin-left: 2px;
				}
			}
			li.colour-box{  order: 5;  }
			li.condition-box{
				order: 6;
			}
			li.women-box{  order: 7;  }
			li.country-box{  order: 8;  }
			li.recommended-box{  order: 9;  }
			.dropdown-menu__wrap{
				padding: 1rem;
				&:before{
					display: none;
				}
				.btn-dark{
					display: none;
				}
			}
		}
	}
}
.checkbox{
	&-label{
		text-align: left;
		width: 100%;
		&:before{
			display: block;
			font-family: "FontAwesome",sans-serif;
			content: "\f096";
			width: 1em;
			margin-right: .5em;
			position: absolute;
			left: 0;
			z-index: 10;
		}
		input[type=checkbox], input[type=radio] {
			opacity: 0;
		}

	}



}
input[type=checkbox]:checked + label.checkbox-label:before {
	content: "\f14a" !important;
}
.clear-selected{
	display: inline-block;
	height: 100%;
	width: 20px;
	border: 0;
	.fa{
		font-family: "FontAwesome", sans-serif;
		color: red;
		float: right;
		margin: 0 5px;
	}
	&:focus{
		outline: none;
	}
}
