.productModal{
	.modal-dialog{
		position: relative;
		margin: 110px auto;
		width: 90%;
		max-width: 1280px!important;
		background-color: transparent!important;
		margin-top: 80px!important;
		pointer-events: none;
		cursor: default;
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		-webkit-tap-highlight-color: rgba(33,34,31,.35);
	}
	.modal-content{
		border-radius: 0;
	}
	.close{
		position: absolute;
		top: -30px;
		right: 0;
		color: $white;
		opacity: 1;
		&:hover,
		&:focue{
			cursor: pointer;
			outline: none;
		}
	}
	.productInfo{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
		position: relative;
		margin: 110px auto;
		max-width: 1280px;
		width: 90%;
		&-col{
			display: flex;
			width: 100%;
			flex-direction: column;
		}
		&-header{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 4rem;
			h3{
				margin: 0;
				text-transform: uppercase;
			}
			.fa{
				font-size: 1rem;
				color: #a8a9aa;
				transition: all .2s cubic-bezier(.645,.045,.355,1);
				-webkit-backface-visibility: hidden;
			}
		}
	}
	.productSlider{
		width: 100%;
		height: 100%;
		display: block;
		background: $white;
		img{
			width: 100%;
			height: 100%;
		}
		.carousel-control{
			color: #fff;
			text-shadow: -1px 0 #212229, 0 1px #212229, 1px 0 #212229, 0 -1px #212229;
			.fa{
				position: absolute;
				top: 50%;
				cursor: pointer;
				font-family: "FontAwesome",sans-serif;
				font-size: 20px;
			}
		}
		.carousel-indicators li{
			border: 1px solid #000;
			border-radius: 10px;
			cursor: pointer;
			background-color: transparent;
			margin: 0;
			&.active{
				background-color: #fff;
				width: 10px;
				height: 10px;
			}
		}
	}
	.nav-tabs{
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
		border: 0;
		height: 60px;
		li{
			height: 100%;
			width: 100%;
			background: $white;
			a{
				height: 100%;
				width: 100%;
				box-sizing: border-box;
				padding:0 10px;
				line-height: 60px;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				color: #444;
				margin: 0 auto;
				transition: all .5s cubic-bezier(.645,.045,.355,1);
				-webkit-backface-visibility: hidden;
				border: 0;
				box-shadow: inset 0 -2px 0 #dcdcdc;
				opacity: 1;
				border-radius: 0;
			}
			&.active,
			&:hover{
				a{
					color: #444;
					box-shadow: inset 0 -2px 0 #27ccc0;
					&:hover{
						color: #444;
					}
				}
			}
		}
	}
	.tab-content{
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		a{
			color: #000000;
			&:hover{
				text-decoration: none;
			}
		}
		.add2card{
			width: 90%;
			position: absolute;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			color: $white;
			height: 60px;
			background: linear-gradient(to right,#27ccc0 0%,#27a7cc 100%);
			border-radius: 3px;
			cursor: pointer;
			font-size: 18px;
			.fa{
				margin-right: 10px;
				color: $white;
			}
			span{
				color: $white;
			}

		}
	}
	.productInfo-body{
		padding: 2rem 4rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.productInfo-price{
		width: 50%;
		.productInfo-title{
			font-weight: bold;
			font-size: 0.9rem;
			text-transform: uppercase;
		}
		.price-amount{
			display: flex;
			font-size: 34px;
			color: $primary;
			span{
				font-size: 1rem;
				margin-right: 10px;
			}
		}
	}
	.productInfo-socials{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
	}
	.productInfo-rating{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		color: #000000;
		font-weight: bold;
		.fa{
			margin-right: 10px;
		}
		span+ span{
			margin-left: 10px;
		}
	}
	.productInfo-socials-list{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		color: #000000;
		font-weight: bold;
		a:hover{
			cursor: pointer;
		}
		a + a{
			margin-left: 10px;
		}
	}
	.tag-section{
		width: 100%;
		display: flex;
		flex-direction: column;
		.tag{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			color: #000000;
			font-size: 1rem;
			margin-bottom: 1px;
			border-bottom: 1px solid #eee;
		}
		.tag-name{
			text-transform: uppercase;
			margin-right: 10px;
			font-weight: 500;
		}
		.tag-value{
			display: flex;
			padding: 10px 15px;
			font-weight: 500;
			border: 1px solid #a8a9aa;
			text-transform: uppercase;
			margin-right: 10px;
		}
	}
	.tooltip-list{
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		font-weight: bold;
		font-size: 14px;
		.fa{
			margin: 5px;
		}
	}
	.user-container {
		width: 100%;
		pointer-events: all;
		.profile-header{
			display: flex;
			width: 100%;
			background-size: cover;
			background-position: center;
			color: #fff;
			position: relative;
			font-size: 16px;
			line-height: 1.8em;
			font-weight: 500;
		}
		.darken{
			background-color: rgba(33,34,31,.35);
			width: 100%;
			text-align: center;
			padding: 25px 0 60px;
			box-sizing: border-box;
			.container{
				width: 40%;
			}
		}
		.upper{
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			&-item{
				display: flex;
				width: 100%;
				align-items: center;
				flex-direction: column;
			}
		}
		.user-name{
			font-size: 18px;
			text-align: right;
		}
		.rating {
			span{
				font-size: 14px;
				width: 15px;
			}
			.fa{
				font-size: 14px;
			}
		}
		.user-logo{
			display: block;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			box-shadow: 0 0 10px rgba(0,0,0,.3);
			img{
				width: 100%;
			}
		}
		.users-count,
		.users-reviews{
			text-align: left;
			color: $white;
			font-size: 18px;
			.fa,
			span{
				margin-right: 10px;
			}
			&:hover{
				text-decoration: none;
			}
		}
		.lower{
			display: flex;
			height: 30px;
			margin-top: 20px;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			&-item{
				display: flex;
				width: 100%;
				justify-content: center;
			}
		}
		.country-flag{
			justify-self: flex-end;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			overflow: hidden;
			text-align: right;
			img{
				width: 100%;
			}
		}
		.not-seller{
			display: block;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			background: $white;
			position: relative;
			.fa{

				font-size: 18px;
				position: absolute;
				color: #000000;
				&.fa-long-arrow-left{
					top: 5px;
					left: 6px;
				}
				&.fa-long-arrow-right{
					top: 10px;
					left: 7px;
				}
			}
			&:after{
				content: "";
				display: block;
				width: 27px;
				height: 2px;
				left: 2px;
				top: 15px;
				background: rgba(0, 0, 0, 0.5);
				border-bottom: 1px solid rgba(255, 255, 255, 0.6705882352941176);
				position: absolute;
				transform: rotate(40deg);
			}
		}
	}
	.relatedProducts{
		display: block;
		width: 100%;
		background: transparent;
	}
	.relatedProduct-content{
		margin-top: 20px;
		background: transparent;
	}
}