<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'wardrobe'
	)
	include mixin/all-mixin
	body
		include global/header
		#wrapper.toggled
			.container-fluid
				// Sidebar
				include global/sidebar
				include global/mobile-filter
				// /#sidebar-wrapper
				#overlay
				// Page Content
				include global/content
				// /#page-content-wrapper
		// /#wrapper



