#page-content-wrapper
    .container-fluid
        .row
            .col-lg-12
                .jumbotron.text-center
                    h1.text-bold.text-uppercase SECONDHAND WOMENSWEAR
                    p View all women's items on United Wardrobe, everything from sneakers to winter coats.

                    h3.text-bold.text-uppercase You might also like:
                    .d-block
                        a(href="#").d-inline-block.text-primary.px-1 Red Dress Maje
                        a(href="#").d-inline-block.text-primary.px-1 Jimmy Choo shoes
                        a(href="#").d-inline-block.text-primary.px-1 Balenciaga leather bag
        .row.py-5.border.border-top
            .col-lg-12.px-0
                .col-lg-5th-1.col-md-4.col-sm-6.col-md-offset-0
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card
                .col-lg-5th-1.col-md-4.col-sm-6
                    include product-card



#productModal.productModal.modal.fade(tabindex='-1', role='dialog')
    //.modal-dialog(role='document')
    //    button.close(type='button', data-dismiss='modal', aria-label='Close')
    //        span(aria-hidden='true') ×
    .productInfo.mb-3
        .productInfo-col
            #myCarousel.productSlider.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner
                    .item.active
                        img(src='https://www.staticuw.com/image/product/large/5b198906f15c2b02e0d173047a380.jpg', alt='Los Angeles', style='width:100%;')
                    .item
                        img(src='https://www.staticuw.com/image/product/large/5b198906f15c2b02e0d173047a380.jpg', alt='Chicago', style='width:100%;')
                    .item
                        img(src='https://www.staticuw.com/image/product/large/5b198906f15c2b02e0d173047a380.jpg', alt='New york', style='width:100%;')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', data-slide='prev')
                    i.fa.fa-chevron-left
                    i.sr-only Previous
                a.right.carousel-control(href='#myCarousel', data-slide='next')
                    i.fa.fa-chevron-right
                    i.sr-only Next

        .productInfo-col
            ul#tabContent.nav.nav-tabs
                li.active
                    a(href='#Product-descr', data-toggle='tab') Product
                li
                    a(href='#Comments', data-toggle='tab') Comments (0)
            .tab-content.bg-white
                #Product-descr.tab-pane.active
                    .productInfo-header
                        a(href="#")
                            h3 Jordan / Nike
                        a(href="#")
                            i.fa.fa-heart-o
                    .productInfo-body
                        .productInfo-price
                            .productInfo-title Product price
                            .price-amount
                                span €
                                | 3,50
                        .productInfo-socials.mb-3
                            .productInfo-rating
                                span
                                    i.fa.fa-eye
                                    | 120
                                span
                                    i.fa.fa-heart
                                    | 12
                            .productInfo-socials-list
                                a(href="#")
                                    i.fa.fa-pinterest
                                a(href="#")
                                    i.fa.fa-twitter
                                a(href="#")
                                    i.fa.fa-facebook
                        .tag-section.mb-5
                            .tag.py-3
                                .tag-name SIZE:
                                a(href="#").tag-value M
                                .tag-name CONDITION:
                                a(href="#").tag-value Used
                            .tag.py-3
                                .tag-name CATEGORY:
                                a(href="#").tag-value tops
                                a(href="#").tag-value t-shirt
                            .tag.py-3
                                .tag-name Tags:
                                a(href="#").tag-value heft wat vlekken
                        ul.tooltip-list
                            li
                                a.white-tooltip(href='#', data-toggle='tooltip', data-placement='top', title='Free shipping text') Free
                                    | shipping
                                    i.fa.fa-question-circle
                            li
                                a.white-tooltip(href='#', data-toggle='tooltip', data-placement='top', title='Estimated delivery text')
                                    | Estimated
                                    i.fa.fa-question-circle
                            li
                                a.white-tooltip(href='#', data-toggle='tooltip', data-placement='top', title='Returns text') Returns
                                    i.fa.fa-question-circle
                    a(href="#").add2card
                        i.icon.fa.fa-shopping-cart
                        span Add to cart
                #Comments.tab-pane
                    | content 2
    .productInfo.my-3
        .productInfo-col
            .user-container
                .profile-header(style="background-image: url('https://www.staticuw.com/image/cover/15032580259722.jpg');")
                    .darken
                        .container
                            .upper
                                .upper-item
                                    .user-name Naomi
                                    include rating
                                .upper-item
                                    a(href="#").user-logo
                                        img.img-circle(src='https://www.staticuw.com/image/profile/5acf0c0fa5addaa4cf8bb1cb5054c.jpg')
                                .upper-item
                                    .users-count
                                        i.fa.fa-users
                                        | 1787
                                    a(href="#").users-reviews
                                        span 832
                                        | reviews >
                            .lower
                                .lower-item
                                    .country-flag
                                        img(src="https://www.staticuw.com/assets/images/nl.png")
                                .lower-item
                                    button.btn-follow(type="button") Follow

                                .lower-item
                                    a.not-seller.white-tooltip(href='#', data-toggle='tooltip', data-placement='top', title='This seller ' +
                                    'does not want to trade')
                                        .fa.fa-long-arrow-left
                                        .fa.fa-long-arrow-right
                .relatedProducts
                    ul#relatedProducts.relatedProducts-tabs.nav.nav-tabs
                        li.active
                            a(href='#closet', data-toggle='tab') closet
                        li
                            a(href='#related', data-toggle='tab') related)
                    .relatedProduct-content.tab-content
                        #closet.tab-pane.active
                            .col-xs-12.px-0.mb-3.border-0
                                a(href="#").label.label-primary
                                    h4 Start bundling
                                    i.fa.fa-gavel

                            .col-lg-12.px-0
                                .col-lg-5th-1.col-md-4.col-sm-6.col-md-offset-0
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                        #related.tab-pane
                            .col-lg-12.px-0
                                .col-lg-5th-1.col-md-4.col-sm-6.col-md-offset-0
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
                                .col-lg-5th-1.col-md-4.col-sm-6
                                    include product-card-simple
script.
    $('[data-toggle="tooltip"]').tooltip();

