footer#footer.line
	.container
		// Logos
		#footer_left
			.moduletable
				.custom
					p
						img(src='https://www.tournai.be/images/template/footerLogo.png', alt='footerLogo')
		// Menus + FB
		#footer_right
			.moduletable
				h3 Ville de Tournai
				ul.menu
					li.item-512
						a(href='#') Adresses et services
					li.item-513
						a(href='#') Tournai et ses 29 villages
					li.item-847
						a(href='#') Capitale de la Wallonie picarde
					li.item-515
						a(href='#') Magazine Tournai info
			.moduletable
				h3 Informations
				ul.menu
					li.item-516
						a(href='#') Editeur responsable et crédits
					li.item-517
						a(href='#') Utilisation des cookies
					li.item-518
						a(href='#') Conditions d'utilisation
					li.item-1112
						a(href='#') Solutions techniques
					li.item-838
						a(href='#') Plan du site
			.moduletable
				h3 Réseaux sociaux
				ul#resosocio.menu
					li.item-649
						a(href='#', target='_blank')
							img(src='https://www.tournai.be/images/template/logo-footer-facebook-color.png', alt='Facebook')
					li.item-650
						a(href='#', target='_blank')
							img(src='https://www.tournai.be/images/template/logo-footer-twitter-color.png', alt='Twitter')
					li.item-1350
						a(href='#', target='_blank')
							img(src='https://www.tournai.be/images/template/logo-footer-pinterest-color.png', alt='Pinterest')
					li.item-851
						a(href='#', target='_blank')
							img(src='https://www.tournai.be/images/template/logo-footer-youtube-color.png', alt='Youtube')
