nav.navbar.navbar-fixed-top(role='navigation')
	.container-fluid
		.navbar-header.hidden-md.hidden-sm.hidden-xs
			button.menu-toggle.navbar-toggle
				i.fa.fa-bars
				| menu
			a(href='#').navbar-brand.logo
				img.img-responsive(src="https://www.staticuw.com/assets/images/uw-logo.png")
		#main-navbar.navbar-collapse.hidden-md.hidden-sm.hidden-xs
			.navbar-left
				form.navbar-form(action='#', method='GET')
					.input-group
						input#query.form-control(type='text', placeholder='Search...', name='search', value='')
						i.fa.fa-search
			ul#multi-level.nav.navbar-nav.navbar-left
				nav
					ul
						li
							a(href='#')
								| woman
							// ----levelTwo----
							ul.levelTwo
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='')
												| item-level 3
												i.fa.fa-angle-right.fa-fw
											// ----levelFour----
											ul.levelFour
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
											// ----levelFour----
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
									// ----levelThree----
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='')
												| item-level 3
												i.fa.fa-angle-right.fa-fw
											// ----levelFour----
											ul.levelFour
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
											// ----levelFour----
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
									// ----levelThree----
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='')
												| item-level 3
												i.fa.fa-angle-right.fa-fw
											// ----levelFour----
											ul.levelFour
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
											// ----levelFour----
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
									// ----levelThree----
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='')
												| item-level 3
												i.fa.fa-angle-right.fa-fw
											// ----levelFour----
											ul.levelFour
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
												li
													a(href='') item-level 4
											// ----levelFour----
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
									// ----levelThree----
							// ----levelTwo----
						li
							a(href='#')
								| man
							// ----levelTwo----
							ul.levelTwo
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
									// ----levelThree----
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
								li
									a(href='')
										| item-level 2
										i.fa.fa-angle-right.fa-fw
									// ----levelThree----
									ul.levelThree
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
										li
											a(href='') item-level 3
							// ----levelTwo----



			ul.nav.navbar-nav.navbar-right
				li
					a(href='#') No account yet? Register / Log in
				li
					a(href='#')
						span.fa.fa-home(aria-hidden='true')
				li.border.border-right
					a(href='#')
						span.fa.fa-shopping-cart

		#navbar.navbar-collapse.visible-md.visible-sm.visible-xs
			ul.nav.navbar-nav
				li
					a.menu-toggle.navbar-toggle
						i.fa.fa-bars
				li.border.border-left
					a(href='#').navbar-brand.logo
						img.img-responsive(src="https://www.staticuw.com/assets/images/uw-logo.png")
				li.border.border-left
					a(href='#')
						span.fa.fa-user(aria-hidden='true')
				li
					a(href='#')
						span.fa.fa-home(aria-hidden='true')
				li.border.border-right
					a(href='#')
						span.fa.fa-shopping-cart
				li
					a(href='#')
						span.fa.fa-search(aria-hidden='true')
		include header-category
