nav.navbar.navbar-fixed-top(role='navigation')
    .container-fluid
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a#menu-toggle.navbar-brand(href='#menu-toggle')
                        span.glyphicon.glyphicon-list(aria-hidden='true')
                li.border.border-left
                    a(href='#')
                        span.glyphicon.glyphicon-home(aria-hidden='true')
                li.border.border-left
                    a(href='#')
                        span.fa.fa-user(aria-hidden='true')
                li
                    a(href='#')
                        span.fa.fa-home(aria-hidden='true')
                li.border.border-right
                    a(href='#')
                        span.fa.fa-shopping-cart
                li
                    a(href='#')
                        span.fa.fa-search(aria-hidden='true')
        #navbar-menu.navbar-collapse.collapse
            .container
                ul.nav.navbar-nav
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Category
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action

                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Size
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Shoe size
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Price
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Colour
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Condition
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Women
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Country
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                    li
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Recommended for you
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action