nav.navbar.navbar-fixed-top(role='navigation')
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a#menu-toggle.navbar-brand(href='#menu-toggle')
				span.glyphicon.glyphicon-list(aria-hidden='true')
		#main-navbar.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-left
				li
					a(href='#').brend-lofo
						img(src="https://www.staticuw.com/assets/images/uw-logo.png")
				li
					a(href='#')
						span.glyphicon.glyphicon-question-sign(aria-hidden='true')
						|  Messages
				li
					a(href='#')
						span.glyphicon.glyphicon-question-sign(aria-hidden='true')
						|  Help
				li
					a(href='#')
						span.glyphicon.glyphicon-off(aria-hidden='true')
						|  Log Out
			form.navbar-form.navbar-right(action='#', method='GET')
				.input-group
					input#query.form-control(type='text', placeholder='Search...', name='search', value='')
					.input-group-btn
						button.btn.btn-success(type='submit')
							span.glyphicon.glyphicon-search
