#category.navbar-collapse
    .container
        ul.nav.navbar-nav
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Category
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#') Action
                        li
                            a(href='#') Another action

            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Size
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Shoe size
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Price
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Colour
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Condition
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Women
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Country
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Recommended for you
                ul.dropdown-menu(role='menu')
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action