#mobileSearch.mobile-search

    form.form-search
        i.fa.fa-search
        input(type="text", placeholder="Search products or people")
        button(type="button")#mobile-search-filter.mobile-search-filter
            i.fa.fa-filter
    .productModal
        ul.relatedProducts-tabs.nav.nav-tabs
            li.active
                a(href='#products', data-toggle='tab') Products
            li
                a(href='#people', data-toggle='tab') People
        .tab-content
            #products.tab-pane.active
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten
            #people.tab-pane
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten
                .search-item
                    .search-item-img
                        i.fa.fa-hashtag
                    .search-item-info
                        .search-item-title Gucci
                        .search-item-subtitle
                            i.fa.fa-archive.item-icon
                            | 2441 resultaten