#mobile-filter.mobile-filter
    .container
        ul.nav.navbar-nav
            li.reset-filters-box
                button(type="reset").reset-filters
                    i.fa.fa-undo
                    | Reset filters
            li.size-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Size
                .dropdown-menu(role='menu')
                    .dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' checked=)
                                span.label-text XXXS
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='')
                                span.label-text XXS
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text XS
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text S
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text M
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text L
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text XL
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text XXl
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text XXXL

            li.shoe-size-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Shoe size
                .dropdown-menu(role='menu')
                    form.dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' checked=)
                                span.label-text 30
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='')
                                span.label-text 30,5
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 31
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 31.5
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 32
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 32.5
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 33
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 33.5
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text 34
            li.category-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Category
                .dropdown-menu(role='menu')
                    .dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .form-group.form-group-select
                            select.form-control
                                option(value='Shoes' selected='selected') Shoes
                                option(value='Dresses and Skirts' ) Dresses and Skirts
                                option(value='Coats') Coats
                                option(value='Trousers') Trousers
                                option(value='Jeans') Jeans
                                option(value='Bags' ) Bags
                                option(value='Vintage' ) Vintage
                                option(value='Designer' ) Designer
                                option(value='Tops' ) Tops
                                option(value='Shirts' ) Shirts
                                option(value='Dress Shirts') Dress Shirts
                                option(value='Jumpers & Cardigans') Jumpers &amp; Cardigans
                                option(value='Cosmetics') Cosmetics
                                option(value='Jewelry') Jewelry
                                option(value='Accessories' ) Accessories
                        .form-group.form-group-select
                            select.form-control
                                option(label='Shoes' value='number:31' selected='selected') All Shoes
                                option(label='Dresses and Skirts' value='number:10') Dresses and Skirts
                                option(label='Coats' value='number:50') Coats
                                option(label='Trousers' value='number:91') Trousers
                                option(label='Jeans' value='number:49') Jeans
                                option(label='Bags' value='number:1') Bags
                                option(label='Vintage' value='number:77') Vintage
                                option(label='Designer' value='number:114') Designer
                                option(label='Tops' value='number:48') Tops
                                option(label='Shirts' value='number:74') Shirts
                                option(label='Dress Shirts' value='number:67') Dress Shirts
                                option(label='Jumpers & Cardigans' value='number:54') Jumpers &amp; Cardigans
                                option(label='Cosmetics' value='number:150') Cosmetics
                                option(label='Jewelry' value='number:180') Jewelry
                                option(label='Accessories' value='number:17') Accessories
            li.price-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Price
                .dropdown-menu(role='menu')
                    form.dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .form-group.price-input
                            input.form-control(type="text" placeholder="0.00")
                        .form-group.hidden-md.hidden-sm.hidden-xs
                            label.w-100.text-center.text-uppercase Up to:
                        .form-group.price-input
                            input.form-control(type="text" placeholder="100.00")
            li.colour-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Colour
                .dropdown-menu(role='menu')
                    form.dropdown-menu__wrap.hidden-md.hidden-sm.hidden-xs
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' checked=)
                                span.label-text.text-bold.text-uppercase black
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='')
                                span.label-text.text-bold.text-uppercase brown
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text.text-bold.text-uppercase white
                        .checkbox
                            label.toggle
                                input(type='checkbox' name="toggle" value='' )
                                span.label-text.text-bold.text-uppercase red
                        .form-group.m-auto
                            button.btn.btn-dark.w-100 Confirm
                    .dropdown-menu__wrap
                        .form-group.mb-0
                            input.form-control(type="search" , autocomplete = "on", placeholder="red")
            li.condition-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Condition
                .dropdown-menu(role='menu')
                    form.dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label
                                input(type='radio' name="radio" value='New' checked=)
                                span.label-text.text-bold.text-uppercase new
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Mint condition')
                                span.label-text.text-bold.text-uppercase mint condition
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Used' )
                                span.label-text.text-bold.text-uppercase used
            li.women-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Women
                .dropdown-menu(role='menu')
                    form.dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Men' checked=)
                                span.label-text.text-bold.text-uppercase men
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Women')
                                span.label-text.text-bold.text-uppercase women
            li.country-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Country
                .dropdown-menu(role='menu')
                    form.dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label
                                input(type='radio' name="radio" value='The Netherlands' checked=)
                                span.label-text.text-bold.text-uppercase The Netherlands
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Belgium')
                                span.label-text.text-bold.text-uppercase Belgium
                        .checkbox
                            label
                                input(type='radio' name="radio" value='France')
                                span.label-text.text-bold.text-uppercase France
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Germany')
                                span.label-text.text-bold.text-uppercase Germany
            li.recommended-box
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    span.filter-title Recommended for you
                .dropdown-menu(role='menu')
                    .dropdown-menu__wrap
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Recommended for you')
                                span.label-text.text-bold.text-uppercase Recommended for you
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Newest')
                                span.label-text.text-bold.text-uppercase Newest
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Most viewed')
                                span.label-text.text-bold.text-uppercase Most viewed
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Cheapest')
                                span.label-text.text-bold.text-uppercase Cheapest
                        .checkbox
                            label
                                input(type='radio' name="radio" value='Most expensive')
                                span.label-text.text-bold.text-uppercase Most expensive
