.panel.p-0
    a(href="#", data-toggle="modal", data-target="#productModal").product-photo
        img(src='https://www.staticuw.com/image/product/large/5b198906f15c2b02e0d173047a380.jpg', alt='...')
    .panel-body
        .panel-icons
            a.panel-icons-item(href="#") € 25,00
            .panel-icons-item M
            a.panel-icons-item(href="#")
                i.fa.fa-heart
