.panel.p-0
    a(href="#")
        img(src='https://www.staticuw.com/image/product/large/5b198906f15c2b02e0d173047a380.jpg', alt='...')
    .panel-body
        .panel-icons
            a.panel-icons-item(href="#") € 25,00
            .panel-icons-item M
            a.panel-icons-item(href="#")
                i.fa.fa-heart
        h3 Thumbnail label
        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        p.text-bold  You may also like:
        a(href="#").d-block.text-primary Red Dress Maje
        a(href="#").d-block.text-primary Jimmy Choo shoes
        a(href="#").d-block.text-primary Balenciaga leather bag