a(href="#").rating
    span(title='five stars')
        .fa.fa-star
    span(title='four stars')
        .fa.fa-star
    span(title='three stars')
        .fa.fa-star
    span(title='two stars')
        .fa.fa-star
    span(title='one star')
        .fa.fa-star
