#sidebar-wrapper
    ul.sidebar-nav
        li
            a(href='#')
                i.fa.fa-home
                | Home
        li
            a(href='#')
                i.fa.fa-sign-in
                | Log in / register
        li
            a(href='#')
                i.fa.fa-plus
                | Add product
        li
            a(href='#')
                i.fa.fa-book
                | About
        li
            a(href='#')
                i.fa.fa-pencil
                | Blog
        li
            a(href='#')
                i.fa.fa-question
                | Help